{% extends 'base.html' %}
{% block button %}
<a href="{% url 'app1:home' %}" >
    <i class="fa-solid fa-house" style="color:#344F1F;"></i>
</a>
{% endblock %}

{% block content %}
  {% if form %}
  <div class="container w-50 border border-2  mt-5 box " style="margin-left:25%; height:500px">
    <h1 class="text-center " >ADD TASK</h1>
    <form method='post' class="mx-auto  w-50" >
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="btn ">
        </form>
    </div>
    {% else %}
   <div class="container w-50 border border-2  mt-5 d-flex justify-content-center align-items-center box" style="margin-left:25%; height:500px">
    <a href="{% url 'app1:addtask' %}" class="btn  ">ADD ANOTHER TASK</a>

   </div>
    {% endif %}
{% endblock %}